#space {
	padding-top: 20px;
}

#predictionSpace {

}

body{

}

#green-bleh {
	background-color: white;
}

#status {
	background-color: white;
}

#taxi-yellow {
		background-color: #F7F749;
}

#big-pink {
		background-color: #FFBCD9;
}

#teal {
		background-color: #A8FFF8;
}

#candy-apple {
		background-color: white;
}

