/* entire container, keeps perspective */
.flip-container {
    perspective: 400px;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
}
    /* flip the pane when hovered */

.flip-container, .front, .back {
    width: 320px;
    height: 320px;
}

.pig-pen {
    width: 100%;
    float: center;
}

.width-set {
    width: 100%;
}

.row {
    font-family: Roboto, "Trebuchet MS", Arial, sans-serif;
    display: block;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.width-set {
    width: 960px;
    margin: auto;
}

/* flip speed goes here */
.flipper {
    transition: 0.8s;
    transform-style: preserve-3d;
    height: 325px;
    width: 320px;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    padding: 10px;

    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip-container:hover .back, .flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.btn{
    float: right;
    color: black;
    border: 2px solid black;
}

.btn-ruby:hover {
    background-color: #79CDCD;
}

.btn-js:hover {
    background-color: #ffdd00;
}

.btn-pink:hover {
    background-color: #ff6500;
}

.show-card {
    height: 100%;
    padding-bottom: 45px;
}
